<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-toolbar>
        <ion-searchbar placeholder="O que você deseja?"
          [(ngModel)]="searchTerm"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="onInput()"
          (ionCancel)="onCancel()">
        </ion-searchbar>  
    </ion-toolbar>

    <ion-fab bottom right>
      <button ion-fab (click)="listPicOptions()"><ion-icon name="camera"></ion-icon></button>
    </ion-fab>

    <ion-list>
      <ion-item [hidden]="!bCarregando">Carregando...</ion-item>
      <ion-item [hidden]="shouldShowCancel" *ngFor="let photo of photoUploadList">
        <ion-card>
            <ion-item>
              <ion-avatar item-start>
                  <img src="{{photo.pic}}" width="150" />
              </ion-avatar>
              <h2>{{photo.title}}</h2>
            </ion-item>
        
            <img src="{{photo.pic}}" />
        
            <ion-card-content text-wrap>
              <p>Foto incluída em {{photo.data| date: 'dd/MM/yyyy H:mm' }}</p>
            </ion-card-content>
            
            <ion-row>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Likes</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="text"></ion-icon>
                  <div>4 Comments</div>
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-item>

        <ion-item *ngFor="let photo of photoList">
          <ion-card>
            <ion-item>
              <ion-avatar item-start>
                  <img src="{{photo.thumbnailUrl}}" />
              </ion-avatar>
              <h2>{{photo.title}}</h2>
            </ion-item>
          
            <img src="{{photo.url}}" />
          
            <ion-card-content text-wrap>
              <p>Silvio Santos Ipsum boca sujuam... sem vergonhuamm.  com voc Lombardiam. O prmio  em barras de ouro, que vale mais que dinheiroam.  dinheiro ou no am? O prmio  em barras de ouro, que vale mais que dinheiroam. Qual  a musicamm? Voc veio da caravana de ondeammm? Ma vai pra l. Valendo um milho de reaisammm. Ha hai. Bem boladoam, bem boladoam. Bem gozadoam.</p>
            </ion-card-content>
          
            <ion-row>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Likes</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="text"></ion-icon>
                  <div>4 Comments</div>
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))" *ngIf="pgStart < (pgTotal/5)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
